@page
@model ASAssignment1.Pages.LoginModel
@inject IConfiguration configuration
@{
    var siteKey = configuration["reCAPTCHA:SiteKey"];
}

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("Login_Form").submit();
    }
</script>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="card shadow-lg w-100 px-3">
                <div class="card-body">
                    <h1 class="mb-3 text-center">Login</h1>

                    <form method="post" id="Login_Form">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="mb-3">
                            <label class="form-label" asp-for="RModel.Email">Email Address</label>
                            <input type="email" asp-for="RModel.Email" class="form-control" />
                            <span asp-validation-for="RModel.Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" asp-for="RModel.Password">Password</label>
                            <input type="password" asp-for="RModel.Password" class="form-control" />
                            <span asp-validation-for="RModel.Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="d-grid">
                            <button class="g-recaptcha btn btn-primary"
                                    data-sitekey="@siteKey"
                                    data-callback='onSubmit'
                                    data-action='submit'>
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
